<header class="header d-flex align-items-center">
    <div
      class="container-fluid container-xl d-flex align-items-center justify-content-between"
    >
      <a routerLink="/" class="logo d-flex align-items-center">
        <h1>JL Studio</h1>
      </a>
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="nav-item"><a routerLink="/" aria-current="page" routerLinkActive="active" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
          <li class="nav-item"><a routerLink="/services" routerLinkActive="active" class="nav-link">Services</a></li>
          <li class="nav-item"><a routerLink="/gallery" routerLinkActive="active" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
          <li class="nav-item"><a routerLink="/signin" routerLinkActive="active" class="nav-link">Login</a></li>

        </ul>
      </nav>
    </div>
  </header>