@import "variables";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  display: flex;
  justify-content: center;

  .logo {
    img {
      max-height: 40px;
      margin-right: 6px;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0;
      font-family: $font-primary;

      span {
        color: $color-primary;
      }
    }
  }
}

/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (max-width: 996px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;

    a:hover:before,
    li:hover>a:before,
    .active:before {
      visibility: visible;
      width: 100%;
    }

    a:hover,
    .active,
    .active:focus,
    li:hover>a {
      color: #fff;
    }


    ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(0, 0, 0, 0.8);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;

      a,
      a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: $font-primary;
        font-size: 15px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;

        i,
        &:focus i {
          font-size: 12px;
          line-height: 0;
          margin-left: 5px;
        }
      }

      a:hover,
      .active,
      .active:focus,
      li:hover>a {
        color: #fff;
      }

      .dropdown ul,
      .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        border: 1px solid #222428;
      }

      .dropdown>.dropdown-active,
      .dropdown .dropdown>.dropdown-active {
        display: block;
      }
    }
  }

  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;

    .navbar {
      right: 0;
    }

    .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 9996;
    }
  }
}