$color-default: #364d59;
$color-primary: #372615;
$color-secondary: #52565e;

$color-1: #71583D;
$color-2: #66594A;
$color-3: #989892;
$color-4: #C6C5BE;

$font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-primary: "Georgia", sans-serif;
$font-secondary: "Candara", sans-serif;


