<section id="hero" class="hero">
  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down"><span>Gallery</span></h2>
        </div>
      </div>
    </div>
  </div>

  <div
    class="carousel-item active"
    [@fadeInOnEnter]
    style="background-image: url(assets/images/carousel2.jpg)"
  ></div>
</section>
<!-- End Hero Section -->
<section id="gallery">
  <ul class="nav justify-content-center" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <li class="nav-item" *ngFor="let category of categories">
      <a
        role="tab"
        class="nav-link active"
        [attr.aria-controls]="category.name"
        [attr.aria-selected]="category.name === this.currentCategory"
        (onClick)="filter(category.name)"
        >{{ category.name }}</a
      >
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row justify-content-center card-columns">
      <div
        class="card"
        [@fadeInOnEnter]
        *ngIf="isLoggedIn"
        style="align-self: center"
      >
        <div class="card-body">
          <app-dropzone></app-dropzone>
        </div>
      </div>

      <!-- <span *ngFor="let album of albums"> -->
      <div
        class="card"
        [@fadeInOnEnter]
        [@fadeOutOnLeave]
        *ngFor="let album of albums"
      >
        <a routerLink="/album/{{ album }}">
          <img
            class="card-img-top"
            [defaultImage]="defaulImage"
            [lazyLoad]="image"
            [attr.alt]="album"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">{{ album }}</h5>
          <div *ngIf="isLoggedIn" class="button-container">
            <div>
              <span> categories: </span>
              <span contenteditable="true"> 123456 </span>
            </div>
          </div>
        </div>
      </div>
      <!--   
        <div class="card" style="width: 18rem" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <a routerLink="/album/{{album}}">
            <img class="card-img-top" [defaultImage]="defaulImage" [lazyLoad]="image" [attr.alt]="album" />
          </a>
          <div class="card-body">
            <h5 class="card-title text-center">{{ album }}</h5>
            <div *ngIf="isLoggedIn" class="button-container">
                <div>
                  <span> categories: </span>
                  <span contenteditable="true"> 123456 </span>
                </div>
            </div>
          </div>
        </div> -->
      <!-- </span> -->
    </div>
  </div>
</section>
