@import "variables";


p:last-child {
  margin-bottom: 0;
}


#about {
  .box {
    margin-top: auto;
    margin-bottom: auto;

    @media (min-width: 991px) {
      padding-top: 10px;
    }
  }
  img {
    @media (min-width: 991px) {
      top: 0;
      right: 0;
    }
  }
}
