<footer>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 border-bottom shadow-sm"
  >
    <!-- Copyright -->
    <div class=" mb-3 mb-md-0">
      Copyright © 2023. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/jl.studio.v" class="me-4" title="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/moments.by.jl/" class="me-4" title="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#!" class="me-4" title="小红书">
        <i class="bi bi-book"  alt="小红书"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</footer>
