<app-breadcrumb></app-breadcrumb>
<main>
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row position-relative">
        <div
          class="col-lg-7 about-img"
          style="background-image: url(assets/images/JL.jpg)"
        ></div>

        <div class="col-lg-7">
          <h2>Nice to meet you!</h2>
          <div class="our-story">
            <h4>Est 1988</h4>
            <h3>Our Story</h3>
            <p>
              At John Loong Photography Studio, we believe that every moment is
              worth capturing and treasuring. Whether you're celebrating a
              special occasion or simply want to freeze a beautiful moment in
              time, our team of professional photographers is here to help you
              create stunning photographs that will be cherished for a lifetime.
            </p>
            <div
              class="watch-video d-flex align-items-center position-relative"
            >
              <i class="bi bi-play-circle"></i>
              <a
                href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                class="glightbox stretched-link"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter section-bg">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-md-12">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="232"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-6 col-md-12">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="521"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Projects</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- End Stats Counter Section -->

  <!-- ======= Alt Services Section ======= -->
  <section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-around gy-4">
        <div
          class="col-lg-6"
          style="background-image: url(assets/images/JL.jpg)"
          data-aos="zoom-in"
          data-aos-delay="100"
        ></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>Why Choose Us?</h3>

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4>
                <a href="" class="stretched-link">Professional Expertise:</a>
              </h4>
              <p>
                Our team of experienced photographers is dedicated
                to delivering high-quality images that exceed your expectations. We
                combine technical skill with artistic vision to create photographs that
                are visually captivating and emotionally resonant.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4>
                <a href="" class="stretched-link">Personalized Approach:</a>
              </h4>
              <p>
                We believe in building strong relationships with our clients. We
                take the time to understand your unique requirements, ensuring
                that we capture your vision and deliver photographs that reflect
                your personality and style.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">State-of-the-Art Equipment</a></h4>
              <p>
                We utilize top-of-the-line photography
                equipment and cutting-edge technology to ensure that your images are of
                the highest quality. From high-resolution cameras to advanced lighting
                techniques, we employ the best tools to capture your precious moments.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->


        </div>
      </div>
    </div>
  </section>
  <!-- End Alt Services Section -->
</main>
<br />
