<app-breadcrumb></app-breadcrumb>

<main id="main">
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-15">

          <div class="col-lg-4">
            <div class="services-list">
              <a href="#" class="active">Portrait Photography</a>
              <a href="#wedding">Wedding Photography</a>
              <a href="#event">Event Photography</a>
              <a href="#product">Product Photography</a>
            </div>

            <h4>Didn't find what you were looking for?</h4>
            <p>Please contact us here to find out what we can do for you!</p>
          </div>

          <div class="col-lg-8">
            <div>
              <img src="assets/images/carousel1.jpg" alt="" class="img-fluid services-img">
              <h3>Portrait Photography</h3>
              <p>
                At John Loong Photography Studio, we are dedicated to providing exceptional photography services in Kuala Lumpur and Ipoh, Malaysia. We promise to deliver:
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Exquisite Portraits</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Timeless Wedding Memories</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Unforgettable Event Experiences</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Striking Product Visuals</span></li>
  
              </ul>
            </div>

            <div id="wedding">
              <img src="assets/images/carousel1.jpg" alt="" class="img-fluid services-img">
              <h3>Wedding Photography</h3>
              <p>
                At John Loong Photography Studio, we are dedicated to providing exceptional photography services in Kuala Lumpur and Ipoh, Malaysia. We promise to deliver:
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Exquisite Portraits</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Timeless Wedding Memories</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Unforgettable Event Experiences</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Striking Product Visuals</span></li>
  
              </ul>
            </div>

            <div id="event">
              <img src="assets/images/carousel1.jpg" alt="" class="img-fluid services-img">
              <h3>Event Photography</h3>
              <p>
                At John Loong Photography Studio, we are dedicated to providing exceptional photography services in Kuala Lumpur and Ipoh, Malaysia. We promise to deliver:
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Exquisite Portraits</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Timeless Wedding Memories</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Unforgettable Event Experiences</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Striking Product Visuals</span></li>
  
              </ul>
            </div>

            <div id="product">
              <img src="assets/images/carousel1.jpg" alt="" class="img-fluid services-img">
              <h3>Product Photography</h3>
              <p>
                At John Loong Photography Studio, we are dedicated to providing exceptional photography services in Kuala Lumpur and Ipoh, Malaysia. We promise to deliver:
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Exquisite Portraits</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Timeless Wedding Memories</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Unforgettable Event Experiences</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Striking Product Visuals</span></li>
  
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->


  </main><!-- End #main -->

